.text {
    background-color: rgb(228, 23, 23);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    height: auto;
    width: 50%;
    font-size: small;
}

.title{
    font-weight: bold;
    font-size: large;
}