html {
    height: 100%;
}          
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(169, 169, 169);
    
}
h1 {
    
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a, a:link, a:visited, a:hover, a:active {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
#redbar {
    display: flex;
    background-color: rgb(255, 44, 44);
    flex-direction: column;
    width: 170px;
    height: 100%;
    box-shadow: 0px 10px 34px rgb(18, 18, 18);
}
#buslist, #buschanges, #logs, #settings, #logout {
    background-color: #ffffff;
    width: 150px; 
    height: 150px;
    margin: 10px; /* Distance from right side of screen */
    cursor: pointer; /* Make button look clickable */
    border-radius: 25px; /* Rounded Corners */
    text-align: center;
    box-shadow: 0px 10px 14px rgb(18, 18, 18);
}
#buslist:hover, #buschanges:hover, #logs:hover, #settings:hover, #logout:hover {
    background-color: #dcdcdc;
}
#buslist:active, #buschanges:active, #logs:active, #settings:active, #logout:active {
    background-color: #dcdcdc;
    transform: translateY(3px);
}
#main-container {
    display: flex;
    flex-wrap: wrap;
}
#tabs {
    display: flex;
    flex-direction: row;
    height: 50px;
}
#view-all, #edit {
    background-color: white;
    margin: 10px;
    width: 100%;
    height: 80px;
    border-radius: 45px;
    top: -55px;
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 125px;
    font-size: xx-large;
    box-shadow: 0px 5px 15px rgb(18, 18, 18) ;
}

#viewBusses {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 50px;
}
#editBusses {

    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 50px;
    flex-direction: column;
}