html {
    height: 100%;
}          
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(249, 254, 255);
    /*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);*/
}
h1, a {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#login-box {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 40%;
    height: 70%;
    border-radius: 40px;
    box-shadow: 0px 3px 30px 0px;
}