<!DOCTYPE html>
<html>
    <head>
        <title>NCHS Bus Status Page</title>

        <link rel="icon" type="image/png" href="/images/Naperville_Central_Logo.png">

        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- <meta name="referrer" content="no-referrer-when-downgrade" /> -->
        

        <style>
            html {
                height: 100%;
            }          
            body {
                height: 100%;
                margin: 0;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-color: rgb(249, 254, 255);
                /*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);*/
            }
            h1, a {
                color: white;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            table, th, td{
                /*border: 1px solid;*/
                border-bottom: 1px solid rgb(0,0,0);
                padding: 5px;
                margin-left: auto;
                margin-right: auto;
                width: 85%;
                border-collapse: collapse;
                
                table-layout: fixed;
                margin-top: 15px;
                margin-bottom: 15px;
            
                
            }
                /*
            table.PerformanceTable {
                table-layout: fixed; 
                width: 500px; 
            }
            table.PerformanceTable tr.PerformanceCell {
                width: 75px;
            }*/
            tr:nth-child(even){background-color: #ebebeb;}
            tr:hover {background-color: #ff928e;}
            th{background-color: rgb(230, 55, 72); color: black;}
        </style>
    </head>

    <body>

        <nav class="navbar navbar-expand bg-danger navbar-dark" style="box-shadow: 0px 0px 20px rgb(18, 18, 18);">
            <a class="navbar-brand">
                <img src="/images/Naperville_Central_Logo.png" alt="NCHS Logo" style="width: 80px;">
            </a>
            <h1>NCHS Bus Status Page</h1>
            <ul class="navbar-nav ms-auto">
                <div id="g_id_onload"
                    data-client_id="297838973559-tfgf8emf1mo242nlmvft5ih5np1pp7hv.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="redirect"
                    data-login_uri="http://busapp-env.eba-96sdatvm.us-east-1.elasticbeanstalk.com/auth"
                    data-auto_prompt="false">
                </div>

                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="rectangular"
                    data-theme="outline"
                    data-text="signin"
                    data-size="large"
                    data-logo_alignment="left"
                    style="margin-right: 10px;">
                </div>
            </ul>
        </nav>
        <div id="returntohome" style="position:absolute; top: 0px; height: 116px; width:50%; cursor: pointer;" onclick="location.href='/'"></div>

        Hello 10:58am
        <script>
            function makeTable() {
            fetch('/getbus')
            .then(response => { 
                if(response.ok) {
                    return response.json(); // not important
                }
            }).then(data => {
                if(data) { // if there is data
                    let i = 0;
                    let busses = data.buslist;
                    let table = document.getElementById('busTable');
                    while(i < busses.length) { // busses[i]
                        let row = table.insertRow(-1);
                        
                        row.insertCell(0).innerHTML = busses[i].number;
                        row.insertCell(1).innerHTML = busses[i].change;
                        row.insertCell(2).innerHTML = busses[i].status;
                        row.insertCell(3).innerHTML = busses[i].timestamp;
                        i++;
                    }

                    
                }
            });
        }

            function fetchBusses() {
            fetch('/getbus')
            .then(response => { 
                if(response.ok) {
                    return response.json(); // not important
                }
            }).then(data => {
                if(data) { // if there is data
                    let i = 1;
                    let busses = data.buslist;
                    let table = document.getElementById('busTable');
                    while(i < busses.length) { // busses[i]
                        let row = table.rows[i];
                        row.cells[0].innerHTML = busses[i-1].number;
                        row.cells[1].innerHTML = busses[i-1].change;
                        row.cells[2].innerHTML = busses[i-1].status;
                        row.cells[3].innerHTML = busses[i-1].timestamp;
                        i++;
                    }
                    
                    
                }
            });
        }
        </script>
        <table id="busTable">
            <tr>
                <th>Bus Number</th> 
                <th>Bus Changes</th>
                <th>Current Status</th>
                <th>Time</th>
            </tr>

        </table>

        <script>
            makeTable();
            setInterval(fetchBusses, 5000);
        </script>
        <!-- Google sign in script-->
        <script src="https://accounts.google.com/gsi/client" async defer></script>

        <!--

        <script>

            // variable to check that the button must be clicked manually
            var googleSigninClicked = false;
        
            // when the button is clicked by user
            function googleSigninClick() {
                googleSigninClicked = true;
            }
        
            // called when the google API is initialized
            function googleInit() {
        
                // load the auth API
                gapi.load('auth2', () => {
        
                    // initialize the auth library
                    gapi.auth2.init({ client_id: "699278121565-mp5qevri37pjnueollo755hdnjbqocrm.apps.googleusercontent.com" }).then(() => {
        
                        // render the google sign in button
                        gapi.signin2.render('myGoogleButton', {
                            'scope': 'profile email',
                            'width': 240,
                            'height': 40,
                            'longtitle': true,
                            'theme': 'dark',
        
                            onsuccess: (googleUser) => {
        
                                // this function is called when the page is loaded too,
                                // so we must login the user when the button is manually clicked
                                if (!googleSigninClicked) {
                                    return false;
                                }
                                googleSigninClicked = false;
        
                                // get user profile
                                console.log(googleUser);
                                var profile = googleUser.getBasicProfile();
        
                                console.log({
                                    "id": profile.getId(),
                                    "name": profile.getName(),
                                    "picture": profile.getImageUrl(),
                                    "email": profile.getEmail()
                                });
        
                                // get token to be verified from server
                                var id_token = googleUser.getAuthResponse().id_token;
        
                                // send an AJAX request to the server to verify the token
                                var ajax = new XMLHttpRequest();
                                ajax.open("POST", "google-sign-in.php", true);

        
                                // when the status of request is changed
                                ajax.onreadystatechange = function () {
                                    // when the response is received from server
                                    if (this.readyState == 4) {
        
                                        // if the server is successfull
                                        if (this.status == 200) {
        
                                            // the response will be a JSON string, convert that into javascript object
                                            var data = JSON.parse(this.responseText);
                                            console.log(data);
                                        }
        
                                        // if there is any internal server error
                                        if (this.status == 500) {
                                            console.log(this.responseText);
                                        }
                                    }
                                };
        
                                // create form data object
                                var formData = new FormData();
        
                                // append the token in the request
                                formData.append("id_token", id_token);
        
                                // send the request
                                ajax.send(formData);
                            },
        
                            onfailure: (error) => {
                                console.log(error);
                            }
                        });
        
                    });
                });
            }
        
        </script>
    -->
    </body>
</html>